<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1 在映射文件的设计目录中添加SysRoleMenuMapper.xml映射文件 -->
<mapper namespace="com.cy.pj.sys.dao.SysRoleMenuDao">
	<!-- 2 在映射文件中添加id为findObjects元素，实现分页查询 -->
	<!-- 删除操作,添加基于菜单id删除关系数据的元素 -->
	<delete id="deleteObjectsByMenuId" parameterType="int">
		delete from
		sys_role_menus
		where menu_id=#{menuId}
	</delete>

	<delete id="deleteObjectsByRoleId" parameterType="int">
		delete from
		sys_role_menus
		where role_id=#{roleId}
	</delete>

	<insert id="insertObjects">
		insert into sys_role_menus
		(role_id,menu_id)
		values
		<foreach collection="menuIds" separator="," item="menuId">
			(#{roleId},#{menuId})
		</foreach>
	</insert>

	<select id="findMenuIdsByRoleId" resultType="int">
		select menu_id
		from sys_role_menus
		where role_id=#{id}
	</select>


</mapper>


